:root {
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif; /* Cambiar a Montserrat */
  line-height: 1.8; /* Incrementar la altura de línea */
  font-weight: 400; /* Mantener el peso regular */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  font-size: 1.2rem; /* Aumentar el tamaño de la fuente base */
  line-height: 1.8; /* Mejorar la legibilidad */
  font-family: 'Montserrat', sans-serif; /* Usar Montserrat */
}
