:root {
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;

  font-size: 1.1rem;
  line-height: 1.7;
  font-family: 'Montserrat', sans-serif;

  /* ❌ Elimina display: flex y place-items: center */
  display: block;
  box-sizing: border-box;
}
